@layer fonts {
  /* sora-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Sora";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/sora-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* sora-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/sora-v17-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* sora-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Sora";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/sora-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}

@layer global {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  :root {
    --neutral900: hsl(0, 0%, 7%);
    --neutral800: hsl(0, 0%, 15%);
    --neutral500: hsl(240, 3%, 46%);
    --neutral400: hsl(240, 1%, 59%);
    --neutral0: hsl(0, 0%, 100%);
    --blue600: hsl(214, 100%, 55%);
    --blue400: hsl(210, 100%, 65%);
    --red500: hsl(354, 63%, 57%);
    --green500: hsl(140, 63%, 57%);
    --yellow400: hsl(49, 85%, 70%);
  }
  body {
    font-family: "Sora", Arial, Helvetica, sans-serif;
    width: 100%;
    background: var(--neutral900);
    color: var(--neutral0);
  }
}

.attribution {
  visibility: hidden;
}
#results {
  visibility: hidden;
}
