@layer fonts {
  /* sora-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Sora";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/sora-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* sora-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/sora-v17-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* sora-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Sora";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/sora-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}

@layer global {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  :root {
    --neutral900: hsl(0, 0%, 7%);
    --neutral800: hsl(0, 0%, 15%);
    --neutral700: hsl(0, 0%, 23%);
    --neutral500: hsl(240, 3%, 46%);
    --neutral400: hsl(240, 1%, 59%);
    --neutral0: hsl(0, 0%, 100%);
    --blue600: hsl(214, 100%, 55%);
    --blue400: hsl(210, 100%, 65%);
    --red500: hsl(354, 63%, 57%);
    --green500: hsl(140, 63%, 57%);
    --yellow400: hsl(49, 85%, 70%);
  }
  body {
    font-family: "Sora", Arial, Helvetica, sans-serif;
    width: 100%;
    background: var(--neutral900);
    color: var(--neutral0);
  }
  @media (min-width: 1200px) {
    body {
      width: 1200px;
      margin: auto;
    }
  }
  .show {
    display: block;
  }
  .hidden {
    display: none;
  }
}

@layer header {
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  #personal-best {
    display: flex;
    align-items: center;
  }
  #personal-best p {
    color: var(--neutral400);
    padding: 0 0.25rem;
  }
  #personal-best-stat {
    color: var(--neutral0) !important;
  }
}
@layer main-begin {
  main {
    width: 100%;
    display: flex;
  }
  #begin {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  #top {
    display: flex;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
  }

  #statistics {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;
  }
  @media (min-width: 700px) {
    #statistics {
      justify-content: flex-start;
      gap: 1rem;
      padding: 0;
      padding-bottom: 1rem;
    }
  }
  .statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 700px) {
    .statistics {
      flex-direction: row;
      gap: 1rem;
    }
  }
  .statistics p {
    color: var(--neutral400);
    letter-spacing: -0.48px;
    padding-bottom: 8px;
  }
  .statistics span {
    font-size: 2rem;
    font-weight: 700;
  }
  @media (min-width: 700px) {
    .statistics p {
      padding-bottom: 0;
    }
  }
  #settings {
    padding-bottom: 1rem;
  }
  @media (min-width: 700px) {
    #settings {
      display: flex;
      gap: 1rem;
    }
  }
  #difficulty,
  #mode {
    display: flex;
    gap: 1rem;
  }
  hr {
    color: var(--neutral700);
  }
}
@layer main-bottom {
  #text {
    padding: 1rem;
  }
  #text p {
    font-size: 2rem;
  }
}
@layer start-area {
  #start-button {
    backdrop-filter: blur(7px);
    background-color: rgba(18, 18, 18, 0.4);
    position: fixed;
    width: 100%;
    height: 50%;
    top: 250px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  @media (min-width: 700px) {
    #start-button {
      top: 200px;
    }
  }
  #start-button button {
    background-color: var(--blue600);
    border: none;
    padding: 16px 24px;
    border-radius: 12px;
    color: var(--neutral0);
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.6px;
    font-weight: 600;
    font-family: "Sora", Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  #start-button button:hover {
    background-color: var(--blue400);
  }
  #start-button p {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.6px;
    font-weight: 600;
  }
}
.attribution {
  visibility: hidden;
}
